.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.custom-border {
  border: 1px solid #e3e3e3;
}

.custom-border th,
.custom-border td {
  border: 1px solid #e3e3e3;
}

.selected-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.selected-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.remove-btn {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* modal and role */
.custom-role {
  font-size: 1rem;
}

.form-check-label {
  margin-left: 0.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.submit-button {
  margin-top: 1.5rem;
}

.form-check-input {
  border: 1px solid rgb(224, 221, 221);
  width: 1.01rem;
  height: 1.01rem;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-check-input {
  margin-right: 0.2rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
}

.custom-role .modal-content {
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-role .modal-body {
  padding: 1.5rem;
}

.custom-role .form-check-label {
  font-size: 0.9rem;
}

.custom-role .form-check {
  margin-right: 1rem;
}

.date-range {
  margin-left: 2rem;
  width: 200px;
}

.custom-quill-editor .ql-container {
  height: 300px;
}

.custom-quill-editor .ql-editor {
  height: 100%;
}

.readonly-style {
  background-color: #e9ecef;
  cursor: auto;
}

.readonly-style-checkbox {
  cursor: auto;
  background-color: #dbe1e7;
}

.dashboard-search {
  display: none;
}

.horizontal-line {
  display: none;
}

.date-picker-dashboard {
  font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
  .filter-reset-btns a {
    font-size: 0.85rem !important;
    width: 100% !important;
    padding: 0.5rem !important;
  }

  .date-range {
    margin-left: 0rem;
  }

  .horizontal-line {
    display: block;
    padding: 0;
    margin: 0.4rem auto;
  }

  .filter-section {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .view-icons {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .dashboard-search {
    display: block;
  }
}